* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  /* Evita repetição */
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 2px;
}


.menu_container {
  display: flex;
  min-width: 60%;
  width: 90%;
 
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.sair{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.titulo {
  text-align: center;
  color: #002f6c;
  font-size: 24px;
  font-weight: bold;
}
#logo {
  height: 60px;
}
#IconSair{
  cursor: pointer;
}
#txt_sair {
  color: #002f6c;
  cursor: pointer;
  height: 20px;
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  
}

#txt_sair:hover {
  color: #007bff;
  transition: color 0.2s ease-in-out;
  border-bottom: #007bff 2px solid;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #002f6c;
  font-weight: 600;
}


nav a:hover {
  color: #007bff;
  transition: color 0.3s ease-in-out;
  border-bottom: #007bff 2px solid;
}



main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.formulario {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  gap: 6px;
}

.campo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  border: 2px solid #002f6c;
  border-radius: 10px;
  font-size: 16px;
  height: 40px;
  width: 80%;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #002f6c;
  margin-right: 10px;
  width: 80px;
  font-weight: bold;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  
}


input{
  
  font-size: large;
}
input[type="date"] {
  border: none;
  width: 135px;  
}

input[type="text"] {
  border: none;
  flex: 1;
}


.rotulo {
  color: white;
  font-weight: 600;
  padding: 6px 12px;
}

select {
  border: none;
  outline: none;
  font-size: large;
  flex: 1;
}

.botoes {
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
}

.btn-amarelo {
  background-color: #daa207;
  color: white;
  width: 30%;
  border: none;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.btn-verde {
  
  background-color: #004d12;
  color: white;
  width: 30%;
  font-size: 12px;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px 0 10px;
  border-top: 2px solid #007bff;
  margin: 10px 30%;

}

.logo-footer {
  height: 55px;
}